{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="outer-container">
    <div id="form-logo">
      <img src="{% static 'images/logo.png' %}" alt="">
      <h4>Log In</h4>
    </div>
      <!-- Login Form -->
    <form action="" method="POST" class="form-users">
        {% csrf_token %}
        <label for="username">Username*</label>
        <input type="text" name="username" placeholder="Username" required>
        
        <label for="password">Password*</label>
        <input type="password" name="password" placeholder="Password" required>
        
        <input type="Submit" value="Login">
    </form>
    <div id="form-footer">
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
        <p>Already have an account? <a href="{% url 'register' %}">Register Now!</a></p>
        <a href="">Forgot your password?</a>
    </div>

</div>

{% endblock content%}