<!DOCTYPE html>
<!-- Loading items from static folder- images and css -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/chatbox.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <script type="text/javascript">
        const user = "{{request.user}}"
        const email = "{{request.user.email}}"
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

        function grabCookie(name) {
            let cookieArray = document.cookie.split(";");

            for(let i = 0; i < cookieArray.length; i++){
                let cookiePair = cookieArray[i].split("=")
                if(name === cookiePair[0].trim()){ //Compare name to cookie with white space removed
                    return decodeURIComponent(cookiePair[1]); //Decoding the cookie value and return
                }
            }

            //if no cookies are found, return null
            return null
        }
    
        // If we don't have that cookie 
        let cart = JSON.parse(grabCookie('cart'))
        if (!cart){
            cart = {};
            console.log("A cart has be created for the guest user", cart);
            // Making cookie universal in every domain
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";
        }


    </script>
    <title>mel-tea</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-bar-color" style="background-color: #F4AC0B;"> 
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'store' %}">mel-tea</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-bar-links">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'menu' %}">Menu</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="">Simulate</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'about' %}" tabindex="-1" aria-disabled="false">About Us</a>
                    </li>
                </ul>

                <!-- If user is not logged in, show login button only -->
                {% if not user.is_authenticated %}
                <a href="{% url 'login' %}" class="btn btn-outline-dark">Login</a>
                {% endif %}

                <!-- If user is logged in, show logout button only -->
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-outline-dark">Logout</a>
                {% endif %}
                <a href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'images/shoppingcart.png' %}">
                </a>
                <p id="cart-amount">{{cart_items}}</p>
            </div>   
        </div>     
    </nav>
    
    <!-- <div class="container"> -->
        {% block content %}


        {% endblock content %}
    </div>
    <div class="footer">

    </div>
    
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="{% static 'javascript/simulate.js' %}"></script>
    <script src="{% static 'javascript/forms.js' %}"></script>
    <script src="{% static 'javascript/shoppingcart.js' %}"></script>
    <script src="{% static 'javascript/checkout.js' %}"></script>
    <script src="{% static 'javascript/chatbox.js' %}"></script>

</body>
</html>