{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-4" style="border:1px solid black">
      <img class="drink-thumbnail" src="{% static 'images/filler.jpg' %}" alt="">

      <div class="product">
        <p>Drink</p>
      </div>
    </div>

    <div class="col-lg-4" style="border:1px solid black">
      <img class="drink-thumbnail" src="{% static 'images/filler.jpg' %}" alt="">
      <div class="product">
        <p>Drink</p>
      </div>
    </div>

    <div class="col-lg-4" style="border:1px solid black">
      <img class="drink-thumbnail" src="{% static 'images/filler.jpg' %}" alt="">

      <div class="product">
        <p>Drink</p>
      </div>
    </div>
    
    <div class="col-lg-4" style="border:1px solid black">
      <img class="drink-thumbnail" src="{% static 'images/filler.jpg' %}" alt="">

      <div class="product">
        <p>Drink</p>
      </div>
    </div>
</div>
{% endblock content %}