{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="main-store-container">
    <div class="main-container-inner">
        {% if user.is_authenticated %}
            <span>Hello {{request.user}}</span>
        {% endif %}
        <p class="store-title">Mel-Tea</p>
        <span class="store-subtitle">Pipin' Cold Beverages</span>
        <a href="" id="order-now-btn">Order Now</a>
    </div>
    <div class="chatbot-footer">
        {% if user.is_authenticated %}
        <a href="{% url 'chat' %}"><img src="{% static 'images/chatbot.gif' %}" alt=""></a>
        {% endif %}

        {% if not user.is_authenticated %}
        <a href="{% url 'guestChat' %}"><img src="{% static 'images/chatbot.gif' %}" alt=""></a>
        {% endif %}

    </div>
</div>
{% endblock content %}
