.outer-container{
    background-color: rgba(241, 148, 61, .9);
    border: 1px solid orange;
    height: 100vh;
}

.login-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border: 1px solid black; */
    width: 50%;
    margin: 1rem auto;
    text-align: center;
    padding: 5rem;
    /* background-color: white; */
}

.login-container img{
    width: 15rem;
    height: auto;
    margin: 0 auto;
}

.login-inner-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    margin: auto;
}

.login-inner-container input{
    display: block;
    margin: .5rem auto;
}